.P-1 {
  color: coral;
}

#p1 {
  color: black;
}

#p1 {
  color: navy !important;
}

[type="text"] {
  background-color: blue;
}

input {
  background-color: tomato;
}

input.haha {
  background-color: aqua;
}

div.laptop .myclass1 {
  background-color: red;
}
